<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cập nhật thành công</title>
<style type="text/css">
input[type=submit] {
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
</style>
</head>
<body>
	<h1>Update SUCCESS!</h1>
	<form action="/nhanvientoanha" method="get">
	 			<input type="submit" value="Quay Lại">
	</form>
</body>
</html>